{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container mt-5">
        <h1 id="page-title" class="mb-3">Auto heatmap for {{ piece_id }}</h1>
    </div>

    <div id="alert"></div>
    <!-- <img id="loader" src="{% static 'img/note_loader.gif' %}" class="mx-auto d-block mt-5"> -->
    {{ heatmap_data|json_script:"heatmap_data"}}
    <div id="heatmap"></div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="{% static 'js/timelines-chart.min.js' %}"></script>
    <script src="{% static 'js/auto_heatmap.js' %}"></script>
{% endblock %}