{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/> 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

    <div class="jumbotron">
        <div class="container">
            <div class="display-1">CRIM visualisation testing</div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
                <thead>
                    <th>PK</th>
                    <th>Piece ID</th>
                    <th>Piece title</th>
                    <th>Heatmaps</th>
                </thead>
                <tbody>
                    {% for piece in piece_list %}
                        <tr>
                            <td>{{ piece.pk }}</td>
                            <td>
                                {{ piece.piece_id }}
                            </td>
                            <td>
                                {{ piece.title }}
                            </td>
                            <td>
                                <ul>
                                    <li><a href="{{ piece.get_absolute_url }}">Go to heatmap with dropdown</a></li>
                                    <li><a href="{% url 'observations-heatmap' slug=piece.piece_id %}">Go to observations heatmap</a></li>
                                    <li><a href="{% url 'relationships-heatmap' slug=piece.piece_id %}">Go to relationships heatmap</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $('table').DataTable();
} );
</script>

<script src="{% static 'js/cors_test.js' %}"></script>
{% endblock %}