{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container mt-5">

        <h1 id="page-title" class="">{{ piece.title }} ({{ piece.piece_id }})</h1>
        <h3>Choose between observations and relationships:</h3>
        <div class="form-group">
            <select id="heatmap-select" class="mb-2 form-control">
                <option value="relationships">Relationships</option>
                <option value="observations">Observations</option>
            </select>
        </div>
        <a href="{% url 'piece-list' %}">
            <button class="btn btn-warning mb-5">Return to piece list</button>
        </a>

    </div>

    <div id="alert"></div>
    <img id="loader" src="{% static 'img/ajax-loader.gif' %}" class="mx-auto d-block">
    <div id="heatmap" data-id={{piece}}></div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="{% static 'js/timelines-chart.min.js' %}"></script>
    <script src="{% static 'js/heatmap.js' %}"></script>
{% endblock %}